.footer {
    height: 4.5rem;
    background: #192b47;
    color: whitesmoke;
    padding-top: 1.4rem;
}

@media (max-width:468px) {
    * {
        margin: 0;
        padding: 0;
    }

    .leftFooter {
        margin-left: 1rem;
        position: relative;
        top: -0.5rem;
    }

    .rightFooter {
        margin-right: 2.2rem;
        position: relative;
        top: -0.5rem;
    }

}

@media (min-width:469px) and (max-width:768px) {
    .rightFooter {
        top: -1.4rem;
    }
}