.addPokemon {
    height: auto;
    background: #dae9ec;
    color: black;
    padding-bottom: 5rem;
}

.addPokemon h1 {
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategray;
}

.innerAddPokemon {
    background: darkslategray;
    color: white;
    box-shadow: 15px 15px 15px 15px white;
    padding: 2rem;
    border-radius: 8px;
    margin-top: 2rem;
}

.innerAddPokemon button {
    cursor: pointer;
}

@media (max-width:468px) {
    * {
        margin: 0;
        padding: 0;
    }

    .addPokemon h1 {
        font-size: 22px;
    }

    .nameInput {
        margin-bottom: 2rem;
    }
}

@media (min-width:469px) and (max-width:768px) {
    .addPokemon h1 {
        font-size: 2rem;
    }

    .innerAddPokemon {
        width: 80%;
    }

    .nameInput {
        margin-bottom: 2.5rem;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .addPokemon h1 {
        font-size: 30px;
    }

    .innerAddPokemon {
        width: 80%;
    }
}