.pokemon {
    height: auto;
    background: #dae9ec;
    color: black;
}

.pokemon h1 {
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategray;
}

.pokemon>div {
    margin-left: 1rem;
}

.innerBox {
    height: auto;
    margin: 3rem;
    padding-bottom: 3rem;
    box-shadow: 15px 15px 15px 15px white;
    border-radius: 8px;
    background: darkslategray;
    color: white;
}

ul {
    list-style-type: none;
}

.innerBox img {
    width: 12rem;
}

.innerBoxType {
    background: white;
    color: black;
    margin: 1rem;
    border-radius: 5px;
    padding: 0.2rem;
}

.innerBox button {
    cursor: pointer;
}

.innerBoxType1 {
    background: white;
    color: black;
    margin: 0.2rem;
    border-radius: 5px;
    padding: 0.2rem;
}

@media (max-width:468px) {
    * {
        padding: 0;
        margin: 0;
    }

    .pokemon h1 {
        font-size: 22px;
    }

}

@media (min-width:469px) and (max-width:768px) {
    .pokemon h1 {
        font-size: 2rem;
    }

    .innerBox {
        width: 30%;
    }

}

@media (min-width:769px) and (max-width:1024px) {
    .pokemon h1 {
        font-size: 30px;
    }

    .innerBox {
        margin-left: 2rem;
    }

    .innerBox img {
        width: 90%;
    }
}